.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 99%;
  width: 100%;
  padding: 8px;
  gap: 24px;
  overflow: auto;
}

.serviceLanding {
  position: relative;
  top: 12%;
  max-width: 800px;
  padding: 16px;
  background-color: #f8adad;
  border-radius: 8px;
}

.serviceLanding img {
  height: 200px;
  object-fit: cover;
}

.serviceLanding p {
  font-size: clamp(6px, 18px, 24px);
  word-spacing: 3px;
  text-align: justify;
}

.servicesContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.servicesCard {
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 8px;
  margin: 4px;
  padding: 4px;
  border: 1px solid black;
  background-image: linear-gradient(#f8adad, #d39595, #a37373);
  height: 200px;
  width: fit-content;
  text-align: justify;
}

@media (max-width: 1000px) {
  .serviceLanding {
    p {
      word-spacing: 0px;
    }
  }
}

.servicesCard img {
  width: 200px;
  object-fit: contain;
}

.serviceCard-information {
  width: 200px;
  margin: 8px;
}

.servicesCard p {
  font-size: 17px;
  margin: 4px;
}

.servicesCards {
  display: flex;
  overflow-y: hidden;
}

@media (max-width: 1000px) {
  .serviceLanding {
    position: initial;
  }

  .servicesCards {
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 12px;
  }

  .servicesCard {
    scroll-snap-align: center;
  }
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
