.eventCard {
  background-image: linear-gradient(#c79494, #ca9595, #c79292);
  color: white;
  width: 370px;
  height: 500px;
  box-shadow: 6px 6px 6px hsla(0, 0%, 0%, 0.3);
  border-radius: 10px;
  padding: 16px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: clamp(4px, 22px, 48px);
    font-weight: 400;
    font-style: italic;
    text-shadow: rgb(120, 185, 232) 1px 0 10px;
  }

  .cardImage {
    height: 230px;
    object-fit: cover;

    img {
      height: 230px;
      border-radius: 4px;
    }
  }

  span {
    font-size: 1.1rem;
    font-weight: 500;
    height: 100%;
  }
}

.imageControllers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  gap: 4px;

  button {
    background-color: transparent;
    width: 26px;
    height: 14px;
    box-shadow: 1px 2px 1px black;
    margin: 0px 2.5px;
    border-radius: 16px;
    border: 1px solid black;
  }

  button:hover {
    height: 18px;
    background-color: rgb(224, 233, 242);
  }
}
